<!DOCTYPE html>  
<html>  
<head>  
    <title></title>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
    <script src="/javascripts/lib/jquery-min.js"></script>
    <script type="text/javascript">  
        $(function(){

            var get_jsonp = function() {  
                var code = $('#rjsonp').val();
                $.getJSON('/qzone/jsonp/user/'+code+'/feed/unreadcount?callback=?',
                    function(data) {  
                        $('#show').text('Jsonp info : unreadFeedCount=' + data.data.result + ' and message='+data.message);
                });  
            };

            $('#test').click(function(){
                console.log('begin test');
                get_jsonp();
            });

            $.get('/qzone/json/keycount', function(data){
                $('#keycount').text(data.keyCount);
                $('#clientIsOK').text(data.clientIsOK);
                $('#withError').text(data.withError);
                $('#env').text(data.env);
            });
        });
        
    </script>  
</head>  
<body>  
    <!-- <a id="test" href="#">Click me for jsonp</a><br />   -->
    <div>input user code for test</div>
    <div><textarea id="rjsonp" cols="50" rows="3"></textarea></div>
    <div><button id="test">test</button></div>
    <div id="show"></div>
    <div>key count:</div>
    <div id="keycount"></div>
    <div>redis client is ok:</div>
    <div id="clientIsOK"></div>
    <div>redis execute with error:</div>
    <div id="withError"></div>
    <div>env:</div>
    <div id="env"></div>
</body>  
</html>  